<style>
body{background-color:black;color: gold; }    

img{border:2px solid white;}
	a:link, a:visited {
  align-items: center;    
  background-color:blue;
   color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}


a:hover, a:active {
  background-color: red;
} 
  body{ background-color:black;color: gold;  }


table{
   overflow-y:scroll;
   
   display:block;
}
button{
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  font-size:10px;
  border: red;
  cursor: pointer;
}
</style>
